<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<nav th:fragment="navbar (pagename)" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" th:text="${pagename}">APAP</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/#">Home</a>
            </li>
        </ul>
    </div>
</nav>
<h3>Sistem Informasi Kepegawaian</h3>
<h2>Selamat Datang di Sistem Informasi Kepegawaian</h2>
<br><br>
<h3>Lihat Data Pegawai berdasarkan NIP</h3>
<h2>Masukkan Nomor Induk Kepegawaian</h2>
<form th:action="@{/pegawai}" method="GET">
    <div class="card-body">
        <label for="nip">Nomor Lisensi:</label>
        <input type="text" name="nip" class="form-control"  />
        <p></p>
        <button type="submit" class="btn btn-primary">Lihat</button>
    </div>
</form>
</body>
</html>